
# Python bytecode and cache
*.pyc
*.pyo
__pycache__/

# Build and dist
frontend/build/
frontend/dist/
wheels/
*.egg-info


# Virtual environments and env files
backend/.venv
frontend/.venv
backend/.env
frontend/.env

# Node and local storage
frontend/node_modules
backend/local_storage/


# Misc
.env/
